* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #181F2C;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p, input,h1,h2,h3,h4,h5,h6, label, span, button{
  font-family: "Inter", sans-serif;
  color: #D0D7E4;
}