* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #181f2c;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

p,
input,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
button,
::placeholder {
  font-family: 'Inter', sans-serif;
  color: #d0d7e4;
}
