.historic-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 24px;
  padding: 24px 48px;
  padding-top: 48px;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.align-right {
  align-self: flex-end;
}

.align-left {
  align-self: flex-start;
}

.text-container {
  display: flex;
  max-width: 60%;
  min-width: auto;
  background-color: #272f3e;
  border-radius: 5px;
  padding: 8px 16px;
  align-items: center;
  gap: 16px;
}

.profile {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #181f2c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d0d7e4;
}

.base-chat {
  flex: 1;
  border-radius: 5px;
  color: #d0d7e4;
  font-size: 16px;
  text-wrap: wrap;
}

.user-question {
  text-align: left;
}

.ai-response {
  text-align: left;
}

.back {
  position: fixed;
  padding: 8px;
  background-color: #181f2c;
  width: 100%;
  top: 0;
  left: 24px;
  display: flex;
  gap: 4px;
  align-items: center;
  color: #d0d7e4;
  text-decoration: none;
  font-size: 14px;
}

.back:hover {
  text-decoration: underline;
}
