.suggested-questions-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: fit-content;
}

.suggested-questions-wrapper ul {
  list-style-type: none;
}

.suggested-questions-wrapper li {
  margin-bottom: 8px;
  margin-left: 32px;
  font-size: 14px;
  font-weight: 600;
  color: #2e89ff;
  cursor: pointer;
}
